* {
  margin: 0;
  background: rgb(245, 245, 245);
}

.App {
  padding: 100x;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 378px;
  margin: auto;
}

h1{
  margin: 80px;
  color: rgb(40, 40, 40);
  font-size: 55px;
}

input{
  height:50px;
  width:365px ;
  border:1px solid rgb(165, 165, 165) ;
  border-radius: 3px;
  margin: auto;
  padding: 5px;
  margin-bottom: 30px;
  font-size: 20px;
}

input::placeholder{
  color: #acacac;
}

input:focus{
  outline: none !important;
  border:1px solid rgb(99, 99, 99);

}



button{
  height: 40px;
  width: 376px;
  margin: auto;
  background: rgb(0, 132, 255);
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 20px;
}

button:hover{
  height: 40px;
  width: 376px;
  margin: auto;
  background: rgb(0, 124, 240);
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 20px;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: rgb(40, 40, 40);
}

.inputTitle{
  float: left;
  color: gray;
}

